.message-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
  overflow-y: scroll;
  background-color: #fff;
  height: 70vh;
}

.message-wrap {
  display: flex;
  flex-direction: column;
}

.messages-divider {
  justify-content: center;
  display: flex;
  margin: 10px auto 15px;
  width: 100%;
  border-bottom: 1px black solid;
  font-size: 20px;
}

.message-list::-webkit-scrollbar {
  width: 5px;
}

.message-list::-webkit-scrollbar-thumb {
  background: #888;
}

.message-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
