.edit-message-modal {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    width: 300px;
    border-radius: 1em;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.edit-message-input {
    width: 95%;
    padding: 6px;
    border-color: rgb(216, 216, 216);
    border-radius: 0.1rem;
    border: 1px solid;
}

.modal-footer button {
    font-size: 15px;
    align-self: center;
    width: 90px;
    height: 42px;
    color: #fff;
    background-color: #3d405b;
    border: 0;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}
