.chat-container {
  position: relative;
  z-index: 1;
  min-width: 500px;
  width: 50%;
  height: 85%;
  min-height: 300px;
  margin: 30px auto 0;
  margin-top: 0;
  border: 1px solid black;

  &:focus {
    outline: 0;
  }
}
