.chat-header {
  background-color:#f2cc8f;
  display: flex;
  font-size: 25px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  line-height: 1.45;
  border-bottom: 1px solid black;
}

.chat-info,
.header-last-message-date {
  padding: 10px 0;
}

.chat-info span {
  margin-right: 15px;
}
